In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# SET

In [2]:
set_countries={'col', 'mex', 'bol'}
set_countries

{'bol', 'col', 'mex'}

In [3]:
# si yo pongo algo repetido, él me lo quita al imprimir
set_countries2 = {'col', 'mex', 'bol', 'col'}
set_countries2

{'bol', 'col', 'mex'}

In [4]:
# puede ser mixto. El set se ordena solo, lo importante es lo que tengo dentro.
set_types = {1, 'hola', False, 12.12}
set_types

{1, 12.12, False, 'hola'}

In [6]:
set_from_string = set('hoola')
set_from_string

{'a', 'h', 'l', 'o'}

In [7]:
set_from_tuples = set (('abc','cbv','as','abc'))
set_from_tuples

{'abc', 'as', 'cbv'}

In [9]:
numbers = [1,2,3,1,2,3,4]
set_numbers= set(numbers)
list(set_numbers)

## Esta es una forma de obtener los números sin repetir

[1, 2, 3, 4]

## MODIFICACIÓN DE SETS

In [10]:
set_countries={'col', 'mex', 'bol'}

size = len(set_countries)
size

3

In [11]:
'col' in set_countries

True

In [13]:
set_countries.add('pe')
set_countries

{'bol', 'col', 'mex', 'pe'}

In [15]:
set_countries.update({'ar','ecua'})
set_countries

{'ar', 'bol', 'col', 'ecua', 'mex', 'pe'}

In [16]:
set_countries.remove('ar')
set_countries

{'bol', 'col', 'ecua', 'mex', 'pe'}

In [18]:
set_countries.discard('arg')
set_countries

{'bol', 'col', 'ecua', 'mex', 'pe'}

In [19]:
set_countries.clear()
set_countries

set()

## LIST COMPREHENSION

In [1]:
array = [i*2 for i in range(1,101) if i%2==0]
array

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200]

## DICTIONARY COMPREHENSION

In [2]:
dict={i:i*2 for i in range(1,5)}
dict

{1: 2, 2: 4, 3: 6, 4: 8}

In [3]:
names = ['Nico','Zule','Santi']
ages = [12,56,98]

In [4]:
dict = {}
for i in range(len(names)):
  dict[names[i]] = ages[i]

dict

{'Nico': 12, 'Zule': 56, 'Santi': 98}

In [5]:
dict_2 = {names[i] : ages[i] for i in range(len(names))}
dict_2

{'Nico': 12, 'Zule': 56, 'Santi': 98}

In [6]:
new_dict = {name: age for (name, age) in zip(names, ages)}
new_dict

{'Nico': 12, 'Zule': 56, 'Santi': 98}

In [12]:
list(zip(names,ages))

[('Nico', 12), ('Zule', 56), ('Santi', 98)]

### CONDITION

In [17]:
import random
countries = ['col', 'mex', 'bol', 'pe']

population_v2 = { country: random.randint(1, 100)  for country in countries}
print(population_v2)

{'col': 47, 'mex': 76, 'bol': 17, 'pe': 11}

In [18]:
result = { country: population for (country, population) in population_v2.items() if population > 30 }
print(result)

{'col': 47, 'mex': 76}

In [21]:
text = 'Hola a todos, esta es una cadena de texto de prueba.'
unique = { c: c.upper() for c in text if c in 'aeiou' }
print(unique)

{'o': 'O', 'a': 'A', 'e': 'E', 'u': 'U'}

In [23]:
unique = { c: text.count(c) for c in text if c in 'aeiou' }
unique

{'o': 4, 'a': 7, 'e': 7, 'u': 2}

## FUNCIONES

In [24]:
def find_volume(length=1, width=1, depth=1):
  return length * width * depth, width, 'hola'

result, width, text = find_volume(width=10)

print(result)
print(width)
print(text)

10
10
hola

### LAMBDA

In [26]:
increment_v2 = lambda x: x + 1
increment_v2(20)

21

In [29]:

full_name = lambda name, last_name: f'Full name is {name.title()} {last_name.title()}'

text = full_name('esteban', 'maya')
print(text)

Full name is Esteban Maya