In [2]:
print("Hola Mundo, este notebook esta hecho para practicar las bases \ncorrespondientes al curso de python")

Hola Mundo, este notebook esta hecho para practicar las bases
correspondientes al curso de python

### VARIABLES

In [4]:
my_name= "Esteban Maya"
print(my_name)

Esteban Maya

In [2]:
my_name2= input('Ingresa tu nombre')

print("Usando el input",my_name2)

Usando el input Esteban Maya

### TIPOS DE DATOS

In [5]:
# STRING

my_love= "Elizabeth"
print("my love is =>",my_love), print(type(my_love))

my love is => Elizabeth
<class 'str'>

(None, None)

In [7]:
# INT
age=24

In [9]:
# boolean
is_in_love= True
print(is_in_love), print(type(is_in_love))

True
<class 'bool'>

(None, None)

In [28]:
print(not is_in_love)

False

In [11]:
# inputs
love= input("What is your love?")
print("Your love is ", love), print(type(love))

Your love is  Elizabeth
<class 'str'>

(None, None)

### STRINGS

In [13]:
# FORMAT
nombre= "Esteban"
edad = 24
template= "Hola, mi nombre es {} y tengo {} años".format(nombre,edad)
print(template)

Hola, mi nombre es Esteban y tengo 24 años

In [30]:
template2=f"Hola, mi nombre es {nombre} y tengo {edad} años, en 10 años voy a tener {edad+10} y en 5 años tendre {edad + 5}"
print(template2)

Hola, mi nombre es Esteban y tengo 24 años, en 10 años voy a tener 34 y en 5 años tendre 29

In [18]:
print('Alice' * 5)

AliceAliceAliceAliceAlice

In [31]:
y = 1.1 +2.2
print(y)

3.3000000000000003

In [33]:
y_str=format(y,".2g")
y_str

'3.3'

### NUMBERS

In [16]:
#ENTEROS
lives=3

#FLOATS

pi=3.14

#BIG INT
big_int= 45000000000000000.6

#SMALL INT
small_int= 0.00000000004

print(type(lives),type(pi),big_int,small_int)

<class 'int'> <class 'float'> 4.5e+16 4e-11

In [17]:
my_list = ['item']
my_list *= 3

print(my_list)

['item', 'item', 'item']

#### The end keyword

In [19]:
phrase = ['printed', 'with', 'a', 'dash', 'in', 'between']

for word in phrase:
    print(word,end='-')

printed-with-a-dash-in-between-

#### The sep keyword

In [20]:
print('cats', 'dogs', 'mice', sep=',')

cats,dogs,mice

### LEN

In [21]:
len(['cat', 3, 'dog'])

3

La prueba de vacío de cadenas, listas, diccionarios, etc., no debe utilizar len, sino que prefiere la evaluación booleana directa.
EJEMPLO:

In [23]:
a = [1, 2, 3]

In [24]:
#Bad
if len(a)>0:
    print("The list is not empty!")

The list is not empty!

In [25]:
#Good
if a:
    print("The list is not empty!")

The list is not empty!

#### The str(), int(), and float() Functions

In [27]:
str(29),int("11"),float('3.14')

('29', 11, 3.14)