In [2]:
print("Hola Mundo, este notebook esta hecho para practicar las bases \ncorrespondientes al curso de python")

Hola Mundo, este notebook esta hecho para practicar las bases
correspondientes al curso de python

### VARIABLES

In [4]:
my_name= "Esteban Maya"
print(my_name)

Esteban Maya

In [2]:
my_name2= input('Ingresa tu nombre')

print("Usando el input",my_name2)

Usando el input Esteban Maya

### TIPOS DE DATOS

In [5]:
# STRING

my_love= "Elizabeth"
print("my love is =>",my_love), print(type(my_love))

my love is => Elizabeth
<class 'str'>

(None, None)

In [7]:
# INT
age=24

In [9]:
# boolean
is_in_love= True
print(is_in_love), print(type(is_in_love))

True
<class 'bool'>

(None, None)

In [28]:
print(not is_in_love)

False

In [11]:
# inputs
love= input("What is your love?")
print("Your love is ", love), print(type(love))

Your love is  Elizabeth
<class 'str'>

(None, None)

### STRINGS

In [13]:
# FORMAT
nombre= "Esteban"
edad = 24
template= "Hola, mi nombre es {} y tengo {} años".format(nombre,edad)
print(template)

Hola, mi nombre es Esteban y tengo 24 años

In [30]:
template2=f"Hola, mi nombre es {nombre} y tengo {edad} años, en 10 años voy a tener {edad+10} y en 5 años tendre {edad + 5}"
print(template2)

Hola, mi nombre es Esteban y tengo 24 años, en 10 años voy a tener 34 y en 5 años tendre 29

In [18]:
print('Alice' * 5)

AliceAliceAliceAliceAlice

In [31]:
y = 1.1 +2.2
print(y)

3.3000000000000003

In [33]:
y_str=format(y,".2g")
y_str

'3.3'

### NUMBERS

In [16]:
#ENTEROS
lives=3

#FLOATS

pi=3.14

#BIG INT
big_int= 45000000000000000.6

#SMALL INT
small_int= 0.00000000004

print(type(lives),type(pi),big_int,small_int)

<class 'int'> <class 'float'> 4.5e+16 4e-11

In [17]:
my_list = ['item']
my_list *= 3

print(my_list)

['item', 'item', 'item']

#### The end keyword

In [19]:
phrase = ['printed', 'with', 'a', 'dash', 'in', 'between']

for word in phrase:
    print(word,end='-')

printed-with-a-dash-in-between-

#### The sep keyword

In [20]:
print('cats', 'dogs', 'mice', sep=',')

cats,dogs,mice

### LEN

In [21]:
len(['cat', 3, 'dog'])

3

La prueba de vacío de cadenas, listas, diccionarios, etc., no debe utilizar len, sino que prefiere la evaluación booleana directa.
EJEMPLO:

In [23]:
a = [1, 2, 3]

In [24]:
#Bad
if len(a)>0:
    print("The list is not empty!")

The list is not empty!

In [25]:
#Good
if a:
    print("The list is not empty!")

The list is not empty!

#### The str(), int(), and float() Functions

In [27]:
str(29),int("11"),float('3.14')

('29', 11, 3.14)

### INDEXING AND SLICING

In [35]:
text = "Ella sabe python"
print(text[::-1])

nohtyp ebas allE

In [39]:
text[:4]

'Ella'

In [38]:
text[5:]

'sabe python'

In [40]:
text[-1]

'n'

In [46]:
text[:4:-1]

'nohtyp ebas'

### LISTAS

In [68]:
numbers=[1,2,3,4]
type(numbers)

list

In [69]:
str=["Hola","mundo"]
type(str), type(str[0])

(list, str)

In [70]:
numbers.extend(str)
numbers

[1, 2, 3, 4, 'Hola', 'mundo']

In [71]:
numbers.insert(4, "insert")

In [72]:
numbers

[1, 2, 3, 4, 'insert', 'Hola', 'mundo']

In [73]:
numbers.index('Hola')

5

In [80]:
del numbers[4:]
numbers

[1, 2, 3, 4]

In [85]:
numbers.reverse()
numbers

[4, 3, 2, 1]

In [86]:
numbers = numbers+[0,3.5,7,9]
numbers

[4, 3, 2, 1, 0, 3.5, 7, 9]

In [88]:
numbers.sort()
numbers

[0, 1, 2, 3, 3.5, 4, 7, 9]

### TUPLAS

In [89]:
Numbers = (1, 2, 3, 4)
String = ('nico', 'juan', 'santi')

In [93]:
type(Numbers), type(String)

(tuple, tuple)

In [95]:
Numbers.index(1)

0

In [96]:
String.count('juan')

1

conversión de una tupla a una lista

In [97]:
mylist= list(String)
type(mylist)

list

de tupla a lista

In [99]:
my_tuple=tuple(my_list)
type(my_tuple)

tuple

### DICCIONARIOS

In [101]:
my_dict = {
    'avion': 'objeto volador',
    'name': 'Javier',
    'last_name': 'Sepulveda',
    'age': 109
}
type(my_dict)

dict

In [102]:
my_dict['avion']

'objeto volador'

In [104]:
my_dict.keys()

dict_keys(['avion', 'name', 'last_name', 'age'])

In [105]:
my_dict.values()

dict_values(['objeto volador', 'Javier', 'Sepulveda', 109])

In [107]:
'last_name' in my_dict

True

In [120]:
esteban={
    'age':24,
    'last_name':"Maya",
    'langs':["C","Python","Javascript"]
}

In [121]:
esteban['age']= 23
esteban

{'age': 23, 'last_name': 'Maya', 'langs': ['C', 'Python', 'Javascript']}

In [122]:
esteban['langs'].append('PHP')
esteban

{'age': 23, 'last_name': 'Maya', 'langs': ['C', 'Python', 'Javascript', 'PHP']}

In [123]:
del esteban['last_name']
esteban

{'age': 23, 'langs': ['C', 'Python', 'Javascript', 'PHP']}

In [124]:
esteban.pop('langs')
esteban

{'age': 23}

In [125]:
esteban['hobby']= 'Baloncesto'

In [126]:
esteban['pet']='Hannah'

In [133]:
esteban.items()

dict_items([('age', 23), ('hobby', 'Baloncesto'), ('pet', 'Hannah')])

## CICLOS

### WHILE

In [135]:
number = 0
while number < 10:
    number += 1
    if number == 5:
        continue
    print(number)

1
2
3
4
6
7
8
9
10

### FOR

In [136]:
zoo = {
    'Leon': 8,
    'Jirafa': 5,
    'Hipo': 4,
}

for animal, cantidad in zoo.items():
    print(f'En el zoo tenemos el/la {animal} con una poblacion de {cantidad}')

En el zoo tenemos el/la Leon con una poblacion de 8
En el zoo tenemos el/la Jirafa con una poblacion de 5
En el zoo tenemos el/la Hipo con una poblacion de 4

In [137]:
for element in range(1,21):
    print(element)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [138]:
texto = 'hola Gabriel. hoy vi a jUAn Y a elvira'
mayusculas =[i for i in texto if i.isupper()]
print(mayusculas)

['G', 'U', 'A', 'Y']

## CICLOS ANIDADOS

In [2]:
matriz=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]
len(matriz)

3

In [3]:
for raw in range(len(matriz)):
    print(matriz[raw][raw])

1
5
9

In [4]:
a=len(matriz)-1
for raw in range(len(matriz)):
    print(matriz[raw][a])
    a-=1

3
5
7